.App {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-content: space-between;
}

.AppHeader {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  flex:1;
  align-items: center;
  font-size: calc(15px);
  color: white;
  min-width: 1440;
}

#FirstRow {
  display: flex;
  text-align: center;
  flex-direction: row;
  flex-wrap: wrap;
}


#lineChart {
  align-items: flex-end;
  background-color: white;
  display: flex;
  flex-direction: column;
}

#Menus {
  background-color:steelblue;
  flex: 1;
  min-height:200;
  min-width:50;
}

#scatterplot {
  align-items: flex-end;
  background-color: white;
  display: flex;
  flex:1;
  flex-direction: column;

}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #F5F5F5;
}
