.App {
  display: flex;
  flex-flow: column wrap;
  font-weight: bold;
  text-align: center;

}

.AppHeader {
  background-color: #282c34;
  align-items: center;
  font-size: calc(15px);
  color: white;
}

#BarChart {
  align-items: flex-end;
  background-color: white;
  display: flex;
  flex-direction: column;
  min-height: 271.66;
}

#FirstRow {
  display: flex;
  flex-flow: row nowrap;
  text-align: center;
}

#FirstRow > * {
  padding: 10px;
  flex: 1 100%;
}

#SecondRow {
  display: flex;
  flex-flow: row nowrap;
  text-align: center;
}

#SecondRow > * {
  padding: 10px;
  flex: 1 100%;
}

#Right {
  align-items: stretch;
  background-color: white;
  display: flex;
  flex-direction: column;

}

#Left {
  background-color:#5C9AA8;
  display: flex;
}

#lineChart {
  align-items: flex-end;
  background-color: white;
  display: flex;
  flex-direction: column;
}

#Menus {
  display: flex;
  background-color:#5C9AA8;
  flex-flow: column nowrap;
  min-height: 120;
}


#scatterplot {
  align-items: flex-end;
  background-color: white;
  display: flex;
  flex:1;
  flex-direction: column;
}

#Network {
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: white;
}
