.App {
  display: flex;
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center;
}

.App > * {
  padding: 10px;
  flex: 1 100%;
}

.AppHeader {
  background-color: #282c34;
  align-items: center;
  font-size: calc(15px);
  color: white;
}

#lineChart {
  align-items: flex-end;
  background-color: white;
  display: flex;
  flex-direction: column;
}

#Menus {
  background-color:steelblue;
  min-height:100;
  max-width:200;
}

#scatterplot {
  align-items: flex-end;
  background-color: white;
  display: flex;
  flex:1;
  flex-direction: column;

}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #F5F5F5;
}
