.App {
  display: flex;
  text-align: center;
  border-width: 1;
  flex-direction: column;
  flex:1;
  justify-content: space-between;
  overflow:scroll;
}

.App-header {
  background-color: #282c34;
  min-height: 10sp;
  display: flex;
  flex-direction: column;
  flex:2;
  align-items: center;
  font-size: calc(15px);
  color: white;
}

.BarChart {
  display: flex;
  text-align: right;
  flex-direction: column;
  flex:3;
  align-self: flex-end;
  overflow:scroll;
}
